
{# form-components 表单组件 #}
{% extends "admin/page-layout.htm.j2" %}
  


{% block style %}
  {{ super() }}
{% endblock %}



{% block app_title %}
  <div class="app-title">
    <div>
      <h1><i class="fa fa-file-text-o"></i> 收款记录</h1>
      <p>可打印的发票格式</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a href="#">收款记录</a></li>
    </ul>
  </div>
{% endblock %}


{% block app_body %}
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <section class="invoice">
          <div class="row mb-4">
            <div class="col-6">
              <h2 class="page-header"><i class="fa fa-globe"></i> 瓦里公司</h2>
            </div>
            <div class="col-6">
              <h5 class="text-right">Date: 01/01/2016</h5>
            </div>
          </div>
          <div class="row invoice-info">
            <div class="col-4">From
              <address><strong>瓦里公司.</strong><br>Akshar大街518号<br>Gandhi Marg<br>新德里<br>Email: hello@vali.com</address>
            </div>
            <div class="col-4">To
              <address><strong>赵瑞</strong><br>福尔松大街795号，600室<br>旧金山，约94107<br>Phone: (555) 539-1037<br>Email: john.doe@example.com</address>
            </div>
              发票编号007612</b><br><br><b>订单ID:</b> 4F3S8J<br><b> <b> 2/22/2014<br><b>帐户:</b> 968-34567</div>
          </div>
          <div class="row">
            <div class="col-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>数量</th>
                    <th>产品</th>
                    <th>序号 #</th>
                    <th>描述</th>
                    <th>小计</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>饥饿游戏</td>
                    <td>455-981-221</td>
                    <td>El snort testosterone trophy driving gloves handsome</td>
                    <td>$41.32</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>City of Bones</td>
                    <td>247-925-726</td>
                    <td>Wes Anderson umami biodiesel</td>
                    <td>$75.52</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>The Maze Runner</td>
                    <td>545-457-47</td>
                    <td>Terry Richardson helvetica tousled street art master</td>
                    <td>$15.25</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>The Fault in Our Stars</td>
                    <td>757-855-857</td>
                    <td>Tousled lomo letterpress</td>
                    <td>$03.44</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row d-print-none mt-2">
            <div class="col-12 text-right"><a class="btn btn-primary" href="javascript:window.print();" target="_blank"><i class="fa fa-print"></i> Print</a></div>
          </div>
        </section>
      </div>
    </div>
  </div>

{% endblock %}


{% block script %}
    {{ super() }}
  <script type="text/javascript" src="/static/js/plugins/moment.min.js"></script>
  <script type="text/javascript" src="/static/js/plugins/jquery-ui.custom.min.js"></script>
  <script type="text/javascript" src="/static/js/plugins/fullcalendar.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    
      $('#external-events .fc-event').each(function() {
    
        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
          title: $.trim($(this).text()), // use the element's text as the event title
          stick: true // maintain when user navigates (see docs on the renderEvent method)
        });
    
        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex: 999,
          revert: true,      // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        });
    
      });
    
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        drop: function() {
          // is the "remove after drop" checkbox checked?
          if ($('#drop-remove').is(':checked')) {
            // if so, remove the element from the "Draggable Events" list
            $(this).remove();
          }
        }
      });
    
    
    });
  </script>

{% endblock %}